/*font-family: 'Poppins', sans-serif; - 600*/
/*font-family: 'Open Sans', sans-serif; - 400 and 700*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

:root{
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/***MOBILE FIRST***/


/**RESIZE IMAGES**/

.block-main__logo img,
.block-main__img img,
.block-main__side-img img{
    display: block;
    max-width: 100%;
}

/**HEADER**/

.block-main__header{
    background-image: url(../images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--very-pale-cyan);
    padding: 45px 30px 60px 30px;   
    background-blend-mode: multiply;
}

.block-main__row-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 170px;
}

/*logo top*/
.block-main__logo{
    flex: 1;
}


.block-main__logo img{
    width: 210px;
}


/*mockup*/
.block-main__img{
    display: flex;
    justify-content: center;
}

.block-main__img img{
    width: 88%;
}

/*button top*/

.block-main__btn-top{
    flex: 1;
    justify-self: flex-end;
}

.block-main__btn-try{
    display: block;
    font-weight: 600;
    font-size: 19px;
    background-color: white;
    border: none;
    padding: 13px 45px;
    border-radius: 40px;
    box-shadow: 0 1px 7px 4px var(--shadow-color);
}

/*title main*/
.block-main__title{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    line-height: 1.5;
    padding: 0 60px;
    margin-bottom: 45px;
}

.block-main__description{
    font-weight: 400;
    font-size: 1rem;
    padding: 0 46px;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 70px;
}

.block-main__btn-get-started{
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: var(--pink);
    border: none;
    color: white;
    padding: 25px 130px 25px 130px;
    font-weight: 700;
    border-radius: 75px;
    box-shadow: 0 1px 7px 4px var(--shadow-color);
}

.block-main__text{
    margin-bottom: 105px;
}

/**BLOCK FEATURE**/

.block-main__content{
    padding: 120px 0;
}

.block-main__block-feature{
    margin: 0 40px;
    box-shadow: 0 1px 10px 5px var(--shadow-color);
    border-radius: 28px;
    margin-bottom: 80px;
    padding: 110px 0 60px 0;
}

.block-main__side-img{
    padding: 0 90px 0 90px;
    margin-bottom: 125px;
}

.block-main__subtitle-feature{
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 35px;
}

.block-main__description-feature{
    font-weight: 400;
    color: var(--grayish-blue);
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.5;
    padding: 0 89px 0 89px;
}